.App {
  text-align: center;
}

ul {
  justify-content: space-around;
  display: flex;
  font-size: 35px;
  font-weight: bold;
  background-color: #179393;
  height: 50px;
  margin-top: 0.5%;
  box-shadow: 0px 3px 5px 0px rgb(12, 31, 31);
}

.home {
  text-decoration: none;
  color: white;
}

.student {
  text-decoration: none;
  color: white;
}

.contact {
  text-decoration: none;
  color: white;
}

.studentpage {
  display: flex;
  justify-content: space-between;
}

.addbtn {
  margin: 3em 5em 2em 0em;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  background-color: #f99fd6;
}

.S {
  margin-left: 5em;
  font-size: 45px;
  text-decoration: underline;
}

.table {
  width: 1080px;
  margin: 5em 0em 5em 15em;
}

th {
  background-color: #d487b7;
  height: 40px;
  font-size: 20px;
}

td {
  background-color: #038787;
  height: 35px;
  font-size: 20px;
}

label {
  font-size: 22px;
}

input {
  height: 23px;
  width: 250px;
  margin-left: 1em;
  border-radius: 5px;
  background-color: #ece2e8;
}

.parentDivAddstudent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #d487b7;
  padding: 10px;
  box-sizing: border-box;
  width: 300px;
  height: 320px;
  position: absolute;
  border: 5px solid #179393;
  background-color: #d487b7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 5px 0px;
}

.addsubmit {
  margin: 30em 0em 0em 3em;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #179393;
  color: white;
  font-weight: bold;
}

.newstudent {
  text-decoration: underline;
}
